# No whitespace after the comma or in your part name!
config SHIELD_ARMADILLO1_LEFT
    def_bool $(shields_list_contains,armadillo1_left)

# No whitespace after the comma or in your part name!
config SHIELD_ARMADILLO1_RIGHT
    def_bool $(shields_list_contains,armadillo1_right)